@{
    ViewBag.Title = "UploadModelImei";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*<div class="breadcrumb-holder container-fluid" style=" background-color: #C46154; ">
        <ul class="breadcrumb" style="padding: 8px; ">
            <li class="breadcrumb-item"><a href="#">Reports </a></li>
            <li class="breadcrumb-item active">Hourly Target Efficiency report</li>
        </ul>
    </div>*@
<style>
    /*#myModal .modal-dialog {
        min-width: 100%;
        
    }*/




    #tblDatas td {
        text-align: center;
        vertical-align: middle;
    }



   



</style>

<div class="container-fluid">

    <div class="col-lg-8 offset-2">
        <div class="card" style="border: 2px solid darkcyan;height: 300px;">
            <div class="card-header d-flex align-items-center" style="background-color: darkcyan;color: white">
                <h3 class="h4" style="font-weight: normal">Search Report </h3>
            </div>
            <div class="card-body">

                <div class="form-horizontal">
                    @*<div class="form-group row">
                            <label class="col-sm-4 form-control-label">Model Name</label>
                            <div class="col-sm-4">

                                <select id="txtProject" data-placeholder="Choose a Line" class="chosen-select form-control"> </select>

                            </div>
                        </div>*@

                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">From Date</label>
                        <div class="col-sm-5">
                            <input id="txtReqDate" type="text" placeholder="Requisition Date" class="form-control form-control-success">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 form-control-label">To Date</label>
                        <div class="col-sm-5">
                            <input id="txtToDate" type="text" placeholder="Requisition Date" class="form-control form-control-success">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 offset-sm-4">

                            <button class="btn btn-primary" id="btn" style="width: 150px;margin-left: 2px;"> Search</button>

                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 offset-sm-4" id="img" style="display:none;">
                            <img src="~/img/Filling.gif" style="margin-left: 50px;width: 40px;height: 40px;" />..Loading Please Wait


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-12">


        <div class="card" style="border: 2px solid darkcyan;display: none;" id="tblReportData">
            <div class="card-header d-flex align-items-center" style="background-color: darkcyan;color: white">
                <h3 class="h4" style="font-weight: normal">Report Data </h3>
            </div>
            <div class="card-body">

                <div class="form-horizontal" style="overflow: auto">


                    <div id="tblDivImei" style="height: 400px;overflow: auto">
                        <table class="table table-bordered table-hover" id="tblReportData">
                            <thead class="" style="background-color: #123D6A; color: white; font-size: 18px;text-align: center; border-radius: 50px; ">
                                <tr>
                                    <th style="">
                                        Model
                                    </th>
                                    <th>
                                        Color
                                    </th>
                                    <th>
                                        Production Count
                                    </th>
                                    <th>
                                        Uploaded
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>

                    </div>

                    </div>
            </div>
        </div>
    </div>



</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Imei List Details
                <button type="button" class="close" data-dismiss="modal">×</button>

            </div>
            <div class="modal-body">
                <span id="m" style="border: 2px solid black;padding: 2px;"></span>
                <span id="c" style="border: 2px solid black; padding: 2px; "></span>
                <span id="t" style="border: 2px solid black; padding: 2px;"></span>

                <div class="form-group row">
                    <div class="col-sm-12 offset-sm-4" id="imgs" style="display:none;">
                        <img src="~/img/Filling.gif" style="margin-left: 50px;width: 40px;height: 40px;" />..Loading Please Wait


                    </div>

                </div>

                <button class="btn btn-danger" id="btnUpload" style="width: 150px;margin-left: 2px;"> Upload</button>
                <br/>

            <div id="tblDiv"style="height: 400px;overflow: auto">

            <table class="table table-bordered table-hover scroll" id="tblDatas" style="overflow: auto;height: 100px;">
                <thead class="" style="background-color: #123D6A; color: white; font-size: 18px;text-align: center; border-radius: 50px; ">
                    <tr>
                        <th>
                            Serial
                        </th>
                        <th>
                            Model
                        </th>

                        <th>
                            Color
                        </th>
                        <th>
                            BarCode
                        </th>
                        <th>
                            BarCode2
                        </th>

                        <th>
                            Updated By
                        </th>
                        <th>
                            Print Date 
                        </th>
                        <th>
                            Type
                        </th>

                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>


        </div>

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>





<div class="modal fade" id="myModalShort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad sed dolores iusto ab vero tempora in earum accusantium quas iure repellendus fugit ipsa reiciendis. Id illo natus sequi ex eveniet!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<link href="~/css/iziToast.min.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen.css" rel="stylesheet" />


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/iziToast.min.js"></script>


<script>
    $(function () {
        $("#txtReqDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());
        $("#txtToDate").datepicker({ dateFormat: 'dd-mm-yy' }).datepicker("setDate", new Date());






    //    var $table = $('table.scroll'),
    //$bodyCells = $table.find('tbody tr:first').children(),
    //colWidth;

    //    // Adjust the width of thead cells when window resizes
    //    $(window).resize(function () {
    //        // Get the tbody columns width array
    //        colWidth = $bodyCells.map(function () {
    //            return $(this).width();
    //        }).get();

    //        // Set the width of thead columns
    //        $table.find('thead tr').children().each(function (i, v) {
    //            $(v).width(colWidth[i]);
    //        });
    //    }).resize(); // Trigger resize handler




    });


    function getLogistics() {
        debugger;
        //var date = '2018-08-16';
        var gridateFrom = $("#txtReqDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];

        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];

        var project = null;


        $.ajax({
            url: '@Url.Action("GetLogisticsReportForUpload", "Report")',
            type: 'Post',
            data: JSON.stringify({ fromdate: fromdate, todate: todate, project: project }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',




            success: function (result) {

                if (result.length > 0) {

                    $('#tblReportData').show();
                    $('#tblReportData tbody').empty();
                    var html = '';
                    $.each(result, function (key, item) {
                        var upload;
                        var color;
                        if (item.Uploaded == "Y") {
                            upload = "YES";
                            color = 'green';
                            // $(this).css("background-color", "#000000");

                        } else {
                            upload = "NO";
                            color = 'red';
                        }
                       

                        html += '<tr style=font-size:18px;height:3px;text-align:center;color:#123D6A;Background-color:#EEF5F9;>';
                       
                        html += '<td>' + item.Model + '</td>';
                        html += '<td>' + item.Color + '</td>';
                        html += '<td>' + item.ProductionCount + '</td>';
                        html += '<td bgcolor="' + color + '" style=color:white>' + upload + '</td>';
                        //html += '<td><a href="#" id="btnDetails">Click For Details</a></td>';

                        html += '<td> <button class="btn btn-primary dynamic" id="linkClick" style=" width: 150px;margin-left: 2px;"> Click To Upload</button></td>';


                        html += '</tr>';
                        
                        

                    });
                    $('#tblReportData tbody').html(html);
                    $('#img').hide();
                } else {

                    iziToast.warning({
                        timeout: 1000,
                        imageWidth: 100,
                        position: 'center',
                        title: 'Warning!- ',
                        message: 'No Data Found !',
                        backgroundColor: '#E70F0F',
                        theme: 'dark', // dark
                        zindex: 999,
                        progressBarColor: '#091B2B',
                        titleSize: 15,
                        messageColor: '#FDFEFE',
                        messageSize: 15,

                    });
                    $('#img').hide();
                }

                // $('#img').hide();
            },




            error: function (result, textStatus, jqXHR) {

            }

        });
    }
    $(document).on("click", "#linkClick", function () {


        var $this = $(this);
       
         $this.text('Please Wait...');	



        debugger;
        var target = "@Url.Action("LoadImeiDetails", "Admin")";
        var $row = $(this).closest("tr").find('td:eq(0)').text();    // Find the row

        var model = $row;//.replace(/\+/g, '%2B');  // Find the row


        var color = $(this).closest("tr").find('td:eq(1)').text();    // Find the row


        //var x = color.replace(/\+/g, '%2B');
        var gridateFrom = $("#txtReqDate").val().split('-');
        var fromdate = gridateFrom[2] + "-" + gridateFrom[1] + "-" + gridateFrom[0];

        var gridateTo = $("#txtToDate").val().split('-');
        var todate = gridateTo[2] + "-" + gridateTo[1] + "-" + gridateTo[0];



        // window.open(target + '?fromdate=' + fromdate + '&todate=' + todate + '&model=' + model + '&color=' + x);
        //getbyID($row);

        GetDetails(fromdate, todate, model, color);

        //$this.text('Click To Upload');
        
    });


    function GetDetails(fromdate, todate, model, color) {
       
        $.ajax({


            url: " @Url.Action("GetDetailsImeiData", "Report")", //?id=+ model,
            type: "Post",
            data: JSON.stringify({ fromdate: fromdate, todate: todate, model: model, color: color }),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                debugger;
                console.log(result);
                $('#tblDatas tbody').empty();
                $('#tblDatas tbody').empty();
                $('#m').text("Model : "+result[0].Model);
                $('#c').text("Color : "+result[0].Color);
                $('#t').text("Total : "+result.length);
                $.each(result, function (key, item) {

                    var type;
                    var order;
                    var s = item.UpdatedBy;
                    var index = s.indexOf('_');
                    var ordernumb = String(s.substr(index + 1, 1).toString());
                    console.log(ordernumb);
                    

                    if (ordernumb == "C" || ordernumb == "S") {
                       

                        if (ordernumb == "C") {
                            
                            var ckdIndex = s.indexOf('_');
                            ordernumb = String(s.substr(ckdIndex + 5, 1).toString());
                            order = ordernumb;
                            type = String(s.substr(ckdIndex + 1, 3).toString());
                        }
                        
                        if (ordernumb == "S") {

                            var skdIndex = s.indexOf('_');
                            ordernumb = String(s.substr(skdIndex + 5, 1).toString());
                            order = ordernumb;
                            type = "SKD";
                        }

                    } else {
                        type = "SKD";
                        if (ordernumb != "2" && ordernumb != "3" && ordernumb != "4" && ordernumb != "5") {

                            order = "1";
                        } else {
                            order = ordernumb;
                        }

                    }

                    

                    var serial = parseInt(key) + 1;
                    var printDate = item.PrintDate;
                    
                    var date = new Date(parseInt(printDate.replace(/\/Date\((\d+)\)\//, '$1')));



                  var dates=  formatDate(date);


                    var row = "<tr style=display: table-row;vertical-align: inherit;text-align:center;border-color: inherit;>" +
                   
                         "<td  style=vertical-align: inherit;>" + serial + "</td>" +
                        "<td style=vertical-align: inherit;>" + item.Model + "</td>" + 
                         "<td style=vertical-align: inherit;>" + item.Color + "</td>" +
                         "<td style=vertical-align: inherit;>" + item.Barcode + "</td>" +
                         "<td style=vertical-align: inherit;>" + item.Barcode2 + "</td>" +
                         "<td style=vertical-align: inherit;>Order " + order + "</td>" +
                         "<td style=vertical-align: inherit;> " + dates + "</td>" +
                        "<td style=vertical-align: inherit;> " + type + "</td>" +
                        "</tr>";
                    $('#tblDatas tbody').append(row);




                    //$("body").append('<p>'+item.Imei1+'\t*DN'+ '</p>');
                    //$("#divImei2").append('<p>' + item.Imei2 + '</p>');
                });
                //console.log(result);

                // $('#myModal').modal('show');
                
            },
            complete:function() {
                
                
                setTimeout(function () {
                    $('#myModal').modal('show');
                }, 1000);
               
                //$("#myModal").modal.show();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }

        });

        //setTimeout(function () {
        //    $('#myModal').modal('show')
        //}, 4000);
        //$("#myModal").modal.show();
        

    }
    


    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }
  









    $(document).on('hidden.bs.modal','#myModal', function() {
        $("#linkClick").text('Click To Upload');
        $(".dynamic").text('Click To Upload');
    });

    $("#btn").click(function () {
        $('#img').show();


        setTimeout(function () {
            getLogistics();
        }, 1000);

    });


    function navigate(target) {
        //Grab your values
        var gridate = $("#txtReqDate").val().split('-');
        var convertDate = gridate[2] + "-" + gridate[1] + "-" + gridate[0];
        var $row = $(this).closest("tr").find('td:eq(0)').text();

        //Perform your navigation
        window.location.href = target + '?date=' + convertDate + '&model=' + $row;
    }



    $(document).on("click", "#btnDetails", function () {

        var $row = $(this).closest("tr").find('td:eq(0)').text();    // Find the row


        getbyID($row);


    });




    function getbyID(model) {
        //debugger;
        //alert(model);
        var gridate = $("#txtReqDate").val().split('-');
        var convertDate = gridate[2] + "-" + gridate[1] + "-" + gridate[0];


        $.ajax({


            url: " @Url.Action("GetLogisticsReportWithDateModel", "Report")", //?id=+ model,
            type: "Post",
            data: JSON.stringify({ date: convertDate, model: model }),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function(result) {
                console.log(result);

                $.each(result, function(key, item) {
                    $("#divImei1").append('<p>' + item.Imei1 + '</p>');
                    $("#divImei2").append('<p>' + item.Imei2 + '</p>');
                });
                //console.log(result);

                $('#myModal').modal('show');

            },
            error: function(errormessage) {
                alert(errormessage.responseText);
            }
        });

        $('#myModal').modal('show');

    }


    $("#btnUpload").click(function() {
        debugger;


        var ans = confirm("Are you sure you want Upload data ??");
        if (ans) {
           // $('#imgs').show();
            SAveImeiData();
        }
        //$('#imgs').show();
        //SAveImeiData(function () {
        //    getLogistics();;
        //}, 3000);

    });


    function SAveImeiData() {
        debugger;

        var imeiUpload = [];
        var rowCount = $('#tblDatas > tbody > tr').length;
        $('#tblDatas tbody').find("tr").each(function(row, tr) {
            var myStr = $(tr).find('td:eq(1)').text();
            var model = myStr.replace(/\+/g, ' Plus');
            imeiUpload.push({
                Model:model, //$(tr).find('td:eq(1)').text(),
                Color: $(tr).find('td:eq(2)').text(),
                Barcode: $(tr).find('td:eq(3)').text(),
                Barcode2: $(tr).find('td:eq(4)').text(),
                UpdatedBy: $(tr).find('td:eq(5)').text(),
                PrintDate: $(tr).find('td:eq(6)').text(),
                DeliveredTo: $(tr).find('td:eq(7)').text(),
            });
        });
        console.log(imeiUpload);


        //$('#tblDatas tbody').empty();
        //$('#myModal').modal('hide'); imeiModelUpload


        if (rowCount == imeiUpload.length) {
            
            $.ajax({
                url: ' @Url.Action("InsertImeidata", "Production")',
                type: 'Post',
                data: JSON.stringify({ imeiModelUpload: imeiUpload }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                beforeSend: function () {
                    //$('#imgs').show();
                },
                success: function (result) {

                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Saved Successfully'
                        });
                        $('#tblDatas tbody').empty();
                        $('#myModal').modal('hide');
                        $('#imgs').hide();
                        //CountLogisticsData();
                        getLogistics();
                        return true;
                    } else {
                        

                        iziToast.warning({
                            timeout: 3000,
                            imageWidth: 100,
                            position: 'center',
                            title: 'Error! ',
                            message: result.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                         
                            progressBarColor: '#091B2B',
                            titleSize: 16,
                            messageColor: '#FDFEFE',
                            messageSize: 16,

                        });




                        //iziToast.error({
                        //    timeout: 3000,
                        //    imageWidth: 150,
                        //    position: 'center',
                        //    title: 'Error',
                        //    message: result.Message
                        //});

                    }
                  
                  
                },
                complete: function () {
                    $('#imgs').hide();
                    //getLogistics();
                },
                error: function (result, textStatus, jqXHR) {

                    iziToast.success({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: result.Message
                    });
                }
            });
        }

       


    }
</script>
