
@{
    ViewBag.Title = "AgingChargingQc";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<style>

    .modal-dialog {
        min-width: 100%;
        margin: 0;
    }
    #btnCrgr {
        border-radius: 4px;
        background-color: #4169e1;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        padding: 15px;
        width: 500px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        #btnCrgr span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            #btnCrgr span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        #btnCrgr:hover span {
            padding-right: 25px;
        }

            #btnCrgr:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>
<div class="container-fluid">
    
    @Html.Partial("~/Views/PartialViews/Reports/_AgingStationReport.cshtml")
    
    <div class="row">
        <div class="card col-lg-8" style="border: 2px solid cadetblue">
            <div class="card-header d-flex align-items-center" style="background-color: darkcyan;color: white">
                <h3 class="h4" style="font-weight: normal">Search Mobile Code</h3>
            </div>
            <div class="form-horizontal" style="margin-top: 30px;">
                <div class="form-group row" id="divSingleCode">
                    <label class="col-sm-3 form-control-label"> Scan Bar Code</label>
                    <div class="col-sm-5" id="">
                        <input id="txtMobileCode" type="text" placeholder="Scan Code" required="" class="form-control form-control-success">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" id="btnClearData"> Clear All</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-lg-4" style="">
            <div class="row">
                <button class="btn btn-primary" id="btnCrgr" onclick="location.href='@Url.Action("NewAgingQc", "Production")';return false;"><span>Click Here For Aging QC</span></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card col-lg-12" style="border: 2px solid darkcyan;display: none;" id="divAgingData">
            <div class="card-header d-flex align-items-center" style="background-color: darkcyan;color: white">
                <h3 class="h4" style="font-weight: normal">Charging Aging QC Station Checked Mobile</h3>
            </div>

            <div class="form-group row" id="divCheckBox" style="">
                <label class="col-sm-4 form-control-label">&nbsp;</label>
                <div class="i-checks col-sm-8">
                    <input id="chkPassed" type="checkbox" value="P" class="checkbox-template">
                    <label for="chkPassed">Batch Passed</label>
                    &nbsp; &nbsp;
                    <input id="chkFailed" type="checkbox" value="N" class="checkbox-template">
                    <label for="chkFailed">Batch Failed</label>
                </div>
            </div>

            <span id="m" style="border: 2px solid black;padding: 2px;width: 80px;background-color: black;color: white;font-weight: bold"></span>
            <table class="table table-responsive-lg header-fixed table-bordered " id="tblAgingComponent">
                <thead class="" style="background-color: slateblue; color: white;font-size: 15px; ">
                    <tr>
                        <th class="text-center">Mobile Code</th>
                        <th class="text-center">BatchNumber</th>
                        <th class="text-center">Passed</th>
                        <th class="text-center">Remarks</th>
                        <th class="text-center">Project Id</th>
                        <th class="text-center">Project Name</th>
                        <th class="text-center">Line Id</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody style=""></tbody>
            </table>

            <div class="form-group row" id="btnDisplay" style="">

                <div class="col-sm-12">

                    <button class="btn btn-primary pull-right" id="btnSaveAgingChargerMasterInfo"> Submit Charging Test Data </button>

                </div>
            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="border: 1px solid #922602">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center; background-color: #072F4F;color:white ">
                <h4 class="modal-title" style="text-align: center;">Functional Error List</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row" id="modIssues">


                    </div>
                    <div class="form-group row" style="margin-left: 8px;">


                        @*<div class="i-checks col-sm-10" style="">
        <input id="chkOthers" type="checkbox" value="y" class="checkbox-template">
        <label for="chkOthers" style="color:#f53e16;font-weight: bold">Others</label> &nbsp;&nbsp;
        <input id="txtOthers" type="text" style="display: none;width: 200px;" required="" class="form-control form-control-success">
    </div>*@


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                
                <button class="btn btn-primary" id="btnOk" style="width: 200px;"> Done</button>
            </div>
        </div>
    </div>
</div>

<link href="~/css/iziToast.min.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen.css" rel="stylesheet" />
<link href="~/js/vendor/JQueryEasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/css/jquery-ui-1.12.css" rel="stylesheet" />
@*<script src="~/vendor/JQueryEasyUI/jquery-1.8.0.min.js"></script>*@
<script type="text/javascript" src="~/js/vendor/jquery.easyui.min.js"></script>
<script src="~/js/jquery-ui-1.12.js"></script>
<script src="~/js/iziToast.min.js"></script>
<script src="~/js/vendor/JqueryChoosen/chosen.jquery.min.js"></script>

<script>


    function LoadFunctionalIssues() {

        $.ajax({
            url: '  @Url.Action("GetAllIssueListFunctional", "Production")',
            type: 'GET',
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.length == 0) {
                    $('#modIssues').empty();
                    $('#modIssues').append('<div class="statistic d-flex align-items-center bg-white has-shadow" ><div class="icon bg-green"><i class="fa fa-calendar-o"></i></div><div class="text"><small>No ongoing task available</small></div></div>');

                    return false;
                } else {

                    $('#modIssues').empty();
                    $.each(data, function (index, itemData) {


                        $("#modIssues").append('<div class="col-md-4"><form><div class="form-check"><label><input type="checkbox"  name="Errorcheck" value="' + itemData.Name + '"> <span class="label-text">' + itemData.Name + '</span></label></div></form> </div>');
                    });

                }

            },
            error: function (result, textStatus, jqXHR) {
                //toastr.error(result.Message);
                // alert("Error");
                return false;
            }
        });
    }
    $("#btnClearData").click(function() {

        location.reload();
    });


    function Clear() {

        $('#txtMobileCode').val('');
        $('#txtMobileCode').focus();
    }


    $(document).ready(function() {

        $('#txtMobileCode').focus();
    });


    $('input.checkbox-template').on('change', function() {

        debugger;
        $('input.checkbox-template').not(this).prop('checked', false);


    });


    //key up function


    $('#txtMobileCode').keydown(function() {
        debugger;
        var lastTwoDigits = this.value.slice(-2);
        if (lastTwoDigits.toLowerCase() == '-y' || lastTwoDigits.toLowerCase() == '-n') {
            GetMobileCodeInfo((this.value));
            //GetBatchData((this.value));
        }
    });
    var count = 0;
    var codevalue;
    function GetMobileCodeInfo(codeValue) {

        var mobileCode = codeValue.slice(0, -2);
        var status = codeValue.slice(-1);
        codevalue = mobileCode;
        $.ajax({
            url: " @Url.Action("GetMobileCodeInfo", "Production")",
            type: 'Post',
            data: JSON.stringify({ mobileCode: mobileCode }),
            dataType: 'json',
            async: true,
            contentType: 'application/json',
            success: function (data) {
                //console.log(data);
                debugger;


                if (data.length != 0) {
                    // console.log(data.length);
                    $("#divAgingData").show();
                    if ($('#tblAgingComponent  tbody tr').length > 0) {


                        var isExist = false;
                        var isdifferentBatch = false;
                        $('#tblAgingComponent  tbody').find("tr").each(function(roww, tr) {
                            debugger;

                            if (($(tr).find('td:eq(0)').text() == data[0].MobileCode)) {

                                isExist = true;
                                return false;

                            }

                           


                        });

                        if (!isExist) {
                            debugger;

                           
                                if (status.toUpperCase() == "N") {
                                    LoadFunctionalIssues();
                                    $('#myModal').modal('show');

                                    count += 1;

                                    $("#tblAgingComponent").show();

                                    var nrow = "<tr class='active' style='font-size=10px;height:3px;'>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].MobileCode + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].AgingBatchNumber + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + status.toUpperCase() + "</td>" +
                                        "<td style='height:3px;width:250px;' class='text-center'><input type='text' name='txtRemarks' style='width:250px;font-size:12px;' class='form-control' /></td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].ProjectId + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].ProjectName + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].LineId + "</td>" +
                                        "<td><button type='button' class='btn btn-danger remove'><i class='glyphicon glyphicon-remove-sign'></i>remove</button></td>" +
                                        "</tr>";
                                    $('#tblAgingComponent tbody').append(nrow);
                                    $('#txtMobileCode').val('');
                                    //$('#txtBatch').val('');
                                    $("#txtMobileCode").focus();

                                    $('#m').text("Total : " + count);

                                } else {

                                    count += 1;

                                    $("#tblAgingComponent").show();

                                    var nrow = "<tr class='active' style='font-size=10px;height:3px;'>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].MobileCode + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].AgingBatchNumber + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + status.toUpperCase() + "</td>" +
                                        "<td style='height:3px;width:250px;' class='text-center'><input type='text' name='txtRemarks' style='width:250px;font-size:12px;' class='form-control' /></td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].ProjectId + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].ProjectName + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].LineId + "</td>" +


                                        "<td><button type='button' class='btn btn-danger remove'><i class='glyphicon glyphicon-remove-sign'></i>remove</button></td>" +
                                        "</tr>";
                                    $('#tblAgingComponent tbody').append(nrow);
                                    $('#txtMobileCode').val('');
                                    //$('#txtBatch').val('');
                                    $("#txtMobileCode").focus();

                                    $('#m').text("Total : " + count);

                                }
                            


                        } else {
                            iziToast.error({
                                timeout: 2000,
                                imageWidth: 150,
                                position: 'center',
                                title: 'Error',
                                message: 'Already added'
                            });
                            $('#txtMobileCode').val('');
                            $("#txtMobileCode").focus();
                            return false;
                        }
                    } else {


                        if (status.toUpperCase() == "N") {
                            LoadFunctionalIssues();
                            $('#myModal').modal('show');

                            count += 1;

                            $("#tblAgingComponent").show();

                            var nrow = "<tr class='active' style='font-size=10px;height:3px;'>" +
                                "<td style='height:3px;' class='text-center'>" + data[0].MobileCode + "</td>" +
                                "<td style='height:3px;' class='text-center'>" + data[0].AgingBatchNumber + "</td>" +
                                "<td style='height:3px;' class='text-center'>" + status.toUpperCase() + "</td>" +
                                "<td style='height:3px;width:250px;' class='text-center'><input type='text' name='txtRemarks' value='' style='width:250px;font-size:12px;' class='form-control' /></td>" +
                                "<td style='height:3px;' class='text-center'>" + data[0].ProjectId + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].ProjectName + "</td>" +
                                        "<td style='height:3px;' class='text-center'>" + data[0].LineId + "</td>" +

                                "<td><button type='button' class='btn btn-danger remove'><i class='glyphicon glyphicon-remove-sign'></i>remove</button></td>" +
                                "</tr>";
                            $('#tblAgingComponent tbody').append(nrow);
                            $('#txtMobileCode').val('');
                            //$('#txtBatch').val('');
                            $("#txtMobileCode").focus();

                            $('#m').text("Total : " + count);

                        } else {

                            count += 1;

                            $("#tblAgingComponent").show();

                            var nrow = "<tr class='active' style='font-size=10px;height:3px;'>" +
                                "<td style='height:3px;' class='text-center'>" + data[0].MobileCode + "</td>" +
                                "<td style='height:3px;' class='text-center'>" + data[0].AgingBatchNumber + "</td>" +
                                "<td style='height:3px;' class='text-center'>" + status.toUpperCase() + "</td>" +
                                "<td style='height:3px;width:250px;' class='text-center'><input type='text' name='txtRemarks' style='width:250px;font-size:12px;' Value='' class='form-control' /></td>" +
                                "<td style='height:3px;' class='text-center'>" + data[0].ProjectId + "</td>" +
                                 "<td style='height:3px;' class='text-center'>" + data[0].ProjectName + "</td>" +
                                 "<td style='height:3px;' class='text-center'>" + data[0].LineId + "</td>" +


                                "<td><button type='button' class='btn btn-danger remove'><i class='glyphicon glyphicon-remove-sign'></i>remove</button></td>" +
                                "</tr>";
                            $('#tblAgingComponent tbody').append(nrow);
                            $('#txtMobileCode').val('');
                            //$('#txtBatch').val('');
                            $("#txtMobileCode").focus();

                            $('#m').text("Total : " + count);

                        }



                    }
                } else {

                    debugger;

                    iziToast.warning({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'warning',
                        message: 'item Not Scanned!!'
                    });

                    $("#divAgingData").show();

                    //Newly Added If Not Scan at any point in QC Line 

                    if (status.toUpperCase() == "N") {
                        LoadFunctionalIssues();
                        $('#myModal').modal('show');

                        count += 1;

                        $("#tblAgingComponent").show();

                        var nrow = "<tr class='active' style='font-size=10px;height:3px;'>" +
                            "<td style='height:3px;' class='text-center'>" + mobileCode + "</td>" +
                            "<td style='height:3px;' class='text-center'></td>" +
                            "<td style='height:3px;' class='text-center'>" + status.toUpperCase() + "</td>" +
                            "<td style='height:3px;width:250px;' class='text-center'><input type='text' name='txtRemarks' style='width:250px;font-size:12px;' class='form-control' /></td>" +
                            "<td style='height:3px;' class='text-center'></td>" +
                                    "<td style='height:3px;' class='text-center'></td>" +
                                    "<td style='height:3px;' class='text-center'></td>" +

                            "<td><button type='button' class='btn btn-danger remove'><i class='glyphicon glyphicon-remove-sign'></i>remove</button></td>" +
                            "</tr>";
                        $('#tblAgingComponent tbody').append(nrow);
                        $('#txtMobileCode').val('');
                        //$('#txtBatch').val('');
                        $("#txtMobileCode").focus();

                        $('#m').text("Total : " + count);

                    } else {

                        count += 1;

                        $("#tblAgingComponent").show();

                        var nrow = "<tr class='active' style='font-size=10px;height:3px;'>" +
                            "<td style='height:3px;' class='text-center'>" + mobileCode + "</td>" +
                            "<td style='height:3px;' class='text-center'></td>" +
                            "<td style='height:3px;' class='text-center'>" + status.toUpperCase() + "</td>" +
                            "<td style='height:3px;width:250px;' class='text-center'><input type='text' name='txtRemarks' style='width:250px;font-size:12px;' class='form-control' /></td>" +
                            "<td style='height:3px;' class='text-center'></td>" +
                             "<td style='height:3px;' class='text-center'></td>" +
                             "<td style='height:3px;' class='text-center'></td>" +


                            "<td><button type='button' class='btn btn-danger remove'><i class='glyphicon glyphicon-remove-sign'></i>remove</button></td>" +
                            "</tr>";
                        $('#tblAgingComponent tbody').append(nrow);
                        $('#txtMobileCode').val('');
                        $("#txtMobileCode").focus();

                        $('#m').text("Total : " + count);

                    }


                    //Newly Added If Not Found At Qc Line  
                    //return false;

                }


            },
            error: function (data, textStatus, jqXHR) {

            }
        });



    }

    $("body").on("click", ".remove", function () {

        $(this).closest("tr").remove();
        count -= 1;
        $('#m').text("Total : " + count);
        $('#txtMobileCode').val('');
        $("#txtMobileCode").focus();
    });
    

    $('#myAgingModal').on('hidden.bs.modal', function () {
        $('input.checkbox-template').prop('checked', false);
    });


    $("#btnSaveAgingChargerMasterInfo").click(function () {
        debugger;
        var batchStatus = $('input.checkbox-template:checked').val();
        var agingType = "CHRG";
        var checkedNum = $('input.checkbox-template:checked').length;
        var rowCount = $('#tblAgingComponent >tbody >tr').length;
        var datacount = 0;
        if (rowCount < 5) {
            iziToast.warning({
                timeout: 2000,
                imageWidth: 150,
                position: 'center',
                title: 'warning',
                message: 'There should be 5 OR More Items In Charging Test'
            });
            return false;

        }


        else if (batchStatus == undefined) {

            iziToast.warning({
                timeout: 2000,
                imageWidth: 150,
                position: 'center',
                title: 'warning',
                message: 'Please Select Batch Status!!'
            });
            return false;

        }
        else {

            var agingMasterList = [];

            $('#tblAgingComponent  tbody').find("tr").each(function (row, tr) {


                agingMasterList.push({
                    MobileCode: $(tr).find('td:eq(0)').text(),
                    AgingBatch: $(tr).find('td:eq(1)').text(),
                    AgingPassed: $(tr).find('td:eq(2)').text(),
                    AgingIssue: $(tr).find('input[name="txtRemarks"]').val(),
                    ProjectId: $(tr).find('td:eq(4)').text(),
                    ProjectName: $(tr).find('td:eq(5)').text(),
                    LineId: $(tr).find('td:eq(6)').text(),
                });

            });

            if (agingMasterList.length == rowCount) {


                $.ajax({
                    url: ' @Url.Action("InsertAgingQcStationInfo", "Production")',
                    type: 'Post',
                    data: JSON.stringify({ agingMasterList: agingMasterList, batchStatus: batchStatus, agingType: agingType }),
                    dataType: 'json',
                    async: false,
                    contentType: 'application/json',
                    success: function (result) {

                        if (result.IsSuccess) {
                            iziToast.success({
                                timeout: 2000,
                                imageWidth: 150,
                                position: 'center',
                                title: 'Success',
                                message: 'Information Saved Successfully'
                            });
                            //AllClear();
                            $('#tblAgingComponent tbody').empty();
                            $("#divAgingData").hide();
                            $('#txtMobileCode').val('');
                            $("#txtMobileCode").focus();
                            $('#chkPassed').prop('checked', false);
                            $('#chkFailed').prop('checked', false);

                            $('#m').text('0');
                            count = 0;
                            //location.reload();
                            return true;

                        }
                        else if (result.Id == "0") {
                            window.location = '@Url.Action("LogOut", "Account")';

                        }


                        else {
                            iziToast.error({
                                timeout: 2000,
                                imageWidth: 150,
                                position: 'center',
                                title: 'Error',
                                message: result.Message
                            });


                        }

                    },
                    error: function (result, textStatus, jqXHR) {
                        iziToast.error({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Error',
                            message: result.Message
                        });

                        //return false;
                    }
                });


            }
            console.log(agingMasterList);
            console.log(batchStatus);


        }




    });


    $("#btnOk").click(function () {

        debugger;
        //alert("Hited" + codevalue);
        var issues = '';

        $('input[name="Errorcheck"]:checked').each(function () {
            //console.log(this.value);
            issues += this.value + ',';

        });

        $('#tblAgingComponent  tbody').find("tr").each(function (row, tr) {

            if ($(tr).find('td:eq(0)').text().toLowerCase() == codevalue.toLowerCase()) {
          

                $(tr).find('input[name="txtRemarks"]').val(issues);
            }


        });

        $('#txtMobileCode').val('');
        $("#txtMobileCode").focus();
        $('#myModal').modal('hide');

    });




    //NEW Refubrished Codes.....By Asif
    //NEW Refubrished Codes.....By Asif

  
</script>