@{
    ViewBag.Title = "PackagingQc";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2></h2>
<style>
    .ui-autocomplete {
        max-height: 150px;
        overflow: auto;
        float: left;
    }
    /* Track */
    .card ::-webkit-scrollbar-track {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: red;
    }

    /* Handle */
    .card ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: red;
    }

        /* Handle on hover */
        .card ::-webkit-scrollbar-thumb:hover {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: red;
        }



    body::-webkit-scrollbar {
        width: 1em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: #5A55A3;
        outline: 1px solid green;
    }


    body::-webkit-scrollbar {
        width: 1em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: #5A55A3;
        outline: 1px solid #5A55A3;
    }




    #card::-webkit-scrollbar {
        width: 1em;
    }

    #card::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #card::-webkit-scrollbar-thumb {
        background-color: #5A55A3;
        outline: 1px solid #5A55A3;
    }

    #card::-webkit-scrollbar {
        width: 1em;
    }

    #card::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    #card::-webkit-scrollbar-thumb {
        background-color: #5A55A3;
        outline: 1px solid #5A55A3;
    }


    section {
        padding: 60px 0;
    }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #tabs {
        background: #007b5e;
        color: #eee;
    }

        #tabs h6.section-title {
            color: #eee;
        }

        #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #f3f3f3;
            background-color: #5A55A3;
            border-color: transparent transparent #f3f3f3;
            border-bottom: 4px solid !important;
            font-size: 20px;
            font-weight: bold;
        }

        #tabs .nav-tabs .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: #eee;
            font-size: 20px;
        }
</style>
@*<div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">QC </a></li>
            <li class="breadcrumb-item active">Packaging  Qc</li>
        </ul>
    </div>*@
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="card" style="height: 450px;">
                    <div class="card-close">

                    </div>
                  
                    <div class="card-header d-flex align-items-center" style="background-color: #057EB3;color: white">
                        <h3 class="h4">Merge IMEI </h3>
                    </div>

                    <div class="card-body">

                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> Scan Mobile Code</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Scan With IMEI</a>

                            </div>
                        </nav>


                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <!-- flight section -->
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">






                                <div class="form-horizontal" style="margin-top: 30px;">
                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Bar Code</label>
                                        <div class="col-sm-6" id="mbCode">
                                            <input id="txtMobileCode" type="text" placeholder=" Scan Bar Code" required="" class="form-control form-control-success">
                                        </div>
                                        <input class="btn btn-warning" type="submit" id="btnCodeClear" value="clear" />
                                    </div>
                                    <div class="form-group row">
                                        &nbsp; &nbsp;
                                    </div>
                                    @*<div class="form-group row">
                                            <label class="col-sm-3 form-control-label"></label>
                                            <div class="col-sm-6">
                                                <div class="i-checks">
                                                    <input id="radioPass" type="radio" value="Y" name="radioCheck" class="radio-template" onclick="hide();">
                                                    <label for="radioPass">Pass</label>
                                                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                                    <input id="radioFail" type="radio" value="N" name="radioCheck" class="radio-template" onclick="show();">
                                                    <label for="radioFail">Fail</label>
                                                </div>

                                                <div class="i-checks">

                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="form-group row" id="divIssue" style="display: none">
                                        <label class="col-sm-3 form-control-label">Issues</label>
                                        <div class="col-sm-7">
                                            @*<input id="txtIssues" type="text" placeholder=" Scan Mobile Code" required="" class="form-control form-control-success">*@

                                            <textarea id="txtIssues" name="txtIssues" placeholder="Type Issues" required="" style="height: 150px;" class="form-control"></textarea>
                                        </div>
                                    </div>



                                    <div class="form-group row" id="divImei1" style="display: none">
                                        <label class="col-sm-3 form-control-label">Imei 1</label>
                                        <div class="col-sm-7">
                                            <input id="txtImei1" maxlength="17" type="text" placeholder=" Scan Imei 1" required="" class="form-control form-control-success">


                                        </div>
                                    </div>

                                    @*<div class="form-group row" id="divImei2" style="display: none">
                                        <label class="col-sm-3 form-control-label">Imei 2</label>
                                        <div class="col-sm-7">
                                            <input id="txtImei2" maxlength="17" type="text" placeholder=" Scan Imei 2" required="" class="form-control form-control-success">


                                        </div>
                                    </div>*@




                                    <div class="form-group row">
                                        &nbsp; &nbsp;
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-9 offset-sm-3">

                                            <button class="btn btn-primary" id="btnSave" style="display: none; width: 300px;"><i class="fa fa-plus"></i> Save</button>


                                            @*<input type="button"  value="Add" class="btn btn-primary">*@
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        &nbsp; &nbsp;
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-9 offset-sm-3">

                                            <button class="btn btn-primary" id="btnPckgSave" style="display: none; width: 300px;"><i class="fa fa-plus"></i> Save Data</button>


                                            @*<input type="button"  value="Add" class="btn btn-primary">*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="form-group row">
                                    &nbsp; &nbsp;
                                </div>
                                <div class="form-group row" id="divImei1" style="">
                                    <label class="col-sm-3 form-control-label">Imei 1</label>
                                    <div class="col-sm-7">
                                        <input id="txtImeiNb" maxlength="15" type="text" placeholder=" Scan Imei" required="" class="form-control form-control-success">


                                    </div>

                                    <input class="btn btn-warning" type="submit" id="btnImeiClearNb" value="clear" />
                                </div>




                                <div class="form-group row">
                                    &nbsp; &nbsp;
                                </div>
                                <div class="form-group row" id="divImei1" style="">
                                    <label class="col-sm-3 form-control-label">Imei 1</label>
                                    <div class="col-sm-7">
                                        <input id="txtImei1Nb" type="text" readonly="readonly" placeholder=" Scan Imei 1" required="" class="form-control form-control-success">


                                    </div>


                                </div>

                                <div class="form-group row" id="divImei2" style="">
                                    <label class="col-sm-3 form-control-label">Imei 2</label>
                                    <div class="col-sm-7">
                                        <input id="txtImei2Nb" type="text" readonly="readonly" placeholder=" Scan Imei 2" required="" class="form-control form-control-success">


                                    </div>
                                </div>


                                <div class="form-group row" id="divImeiIssueNb" style="display: none">
                                    <label class="col-sm-3 form-control-label">Issues</label>
                                    <div class="col-sm-7">
                                        @*<input id="txtIssues" type="text" placeholder=" Scan Mobile Code" required="" class="form-control form-control-success">*@

                                        <textarea id="txtImeiIssuesNb" name="txtIssuesNb" placeholder="Scan Mobile Codes" required="" style="height: 150px;" class="form-control"></textarea>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">&nbsp;</label>
                                    <div class="i-checks col-sm-6">
                                        <input id="chkPassed" checked="checked" type="checkbox" value="y" class="checkbox-template">
                                        <label for="chkPassed">Passed</label>
                                        &nbsp; &nbsp;
                                        <input id="chkFailed" type="checkbox" value="n" class="checkbox-template">
                                        <label for="chkFailed">Failed</label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    &nbsp; &nbsp;
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-8 offset-sm-4">

                                        <button class="btn btn-primary" id="btnImeiSaveNb" style="width: 150px;">Save</button>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    &nbsp; &nbsp;
                                </div>



                            </div>



                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-5" id="cirDiv">

                <div class="card" id="card" style="height: 400px; width: 100%;">

                   
                    <div class="card-header d-flex align-items-center" style="background-color: #057EB3;color: white">
                        <h3 class="h4">Total IMEI Merge Status</h3>
                    </div>

                    <div class="card-body" style="font-size: 20px;">

                        <div class="form-group row" style="font-size: 20px;">
                            &nbsp;


                        </div>

                        <div class="form-group row" style="font-size: 20px;">
                            <label class="col-sm-4 form-control-label" style="font-size: 20px; color: #3D2C78; ">Total Checked:</label>
                            <div class="col-sm-5" id="mbCode">
                                <h2 id="idCountAll" style="font-size: 30px; color: #3D2C78; "></h2>

                            </div>


                        </div>


                        
                        
                       
                    </div>
                </div>
            </div>

            

        </div>


        @*<div class="card">

                <div class="card-body">
                    <div class="form-group row">
                        <div class="checkbox col-sm-4">
                            <div class="i-checks">

                            </div>
                        </div>
                        <div class="col-sm-8">

                        </div>
                    </div>

                </div>
            </div>*@
    </div>

    @*<input type="hidden" name="hdemployeeName" id="hdprojectName" />*@
</section>
<link href="~/css/iziToast.min.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen-bootstrap.css" rel="stylesheet" />
<link href="~/js/vendor/JqueryChoosen/chosen.css" rel="stylesheet" />
<link href="~/js/vendor/JQueryEasyUI/themes/black/easyui.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/vendor/jquery.easyui.min.js"></script>
<script src="~/js/iziToast.min.js"></script>
<script src="~/js/vendor/JqueryChoosen/chosen.jquery.min.js"></script>
<script>
    
    //window.setInterval(function () {

    //    CountPackagingQc();
    //}, 1000);
    
    function CountPackagingQc() {

        $.ajax({
            url: '  @Url.Action("GetPackagingCount", "Production")',
            type: 'GET',
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (result) {

                if (result.length == 0) {
                    $('#idCountAll').text('0');
                   // $('#idCountPass').text('0');
                   // $('#idCountFail').text('0');
                }
                else {
                    $('#idCountAll').text(result[0].totalFunctionQc);
                   // $('#idCountPass').text(result[0].passedCount);
                    //$('#idCountFail').text(result[0].failedCount);
                }

            },
            error: function (result, textStatus, jqXHR) {
                //toastr.error(result.Message);
                // alert("Error");
                return false;
            }
        });


    }

 
    $("#btnCodeClear").click(function () {
        $("#txtMobileCode").val('');
        $("#txtMobileCode").focus();
        $("#divImei1").hide();
        $("#txtImei1").val('');
        $("#divIssue").hide();
    });

    //function HistoryClear() {

    //    $("#txtHistoryMobileCode").val('');
    //    $("#txtHistoryPassed").val('');
    //    $("#txtHistoryIssues").val('');
    //    $("#txtHistoryStation").val('');

    //}
    @*function SaveFunctionQC(code) {
        // return false;

        debugger;
        var functionalQcList = [];
        var mobileCode = code.slice(0, -1);
        var status = (code.slice(-1)).toLowerCase();        
        if ($("#txtMobileCode").val() == "") {


            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Mobile Code Required'
            });
            return false;
        }
        if (status == "y") {

            functionalQcList.push({
                MobileCode: mobileCode,
                Passed: status,
                QcStation: "FUQC",

            });

        }
        ///Insert Data

        $.ajax({
            url: '@Url.Action("InsertFunctionalQcStatus", "Production")',
            type: 'Post',
            data: JSON.stringify({ statusList: functionalQcList }),
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (result) {

                if (result.IsSuccess) {
                    iziToast.success({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Success',
                        message: 'Result Saved Successfully'
                    });
                    AllClear();
                    $("#divHistory").hide();
                    return true;
                    //location.reload();
                }
                else if (result.Id == "0") {
                    window.location = '@Url.Action("LogOut", "Account")';

                }


                else {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: 'Error Occured While Saving'
                    });
                }

            },
            error: function (result, textStatus, jqXHR) {
                iziToast.error({
                    timeout: 2000,
                    imageWidth: 150,
                    position: 'center',
                    title: 'Error',
                    message: result
                });

                //return false;
            }
        });
        //Insert Data

    }*@

    //function GetCode(val) {
    //    debugger;
       

    //    $("#txtImei1").val('');
    //    $("#txtImei2").val('');
        
    //    var codeValue = val.substring(0, val.length - 2);

    //    var status = (val.slice(-1)).toLowerCase();
    //    // alert(status);

    //    if (status == "y") {

    //        $("#btnSave").hide();
    //        $("#divIssue").hide();
    //        //$("#btnPckgSave").show();
    //        $("#divImei1").show();
    //        $("#txtImei1").focus();
    //        $("#divImei2").show();
            
    //    }
    //    if (status == "n") {
    //        $("#btnPckgSave").hide();
    //        $("#divImei1").hide();
    //        $("#divImei2").hide();
    //        $("#btnSave").show();
           

    //        $("#divIssue").show();
    //        $("#txtIssues").focus();

           
    //    }
    //}


    //$(function () {


        debugger;
        $('#txtMobileCode').keydown(function () {
            debugger;
            var lastTwoDigits = this.value.slice(-2);
            if (lastTwoDigits.toLowerCase() == '-y') {

                $("#btnSave").hide();
                $("#divIssue").hide();
                $("#divImei1").show();
                $("#txtImei1").focus();
                $("#divImei2").show();
            }
            
           
              
            //if (lastTwoDigits.toLowerCase() == '-n') {

            //    $("#btnPckgSave").hide();
            //    $("#divImei1").hide();
            //    $("#divImei2").hide();
            //    $("#btnSave").show();
               

            //    $("#divIssue").show();
            //    $("#txtIssues").focus();
            //}



        });


        $('#txtImei1').keydown(function () {
            debugger;
            
            var lastTwoDigits = this.value.slice(-2);
            if (lastTwoDigits.toLowerCase() == '-y'){
            
                SaveImeiMerge();
             
        }        
        });


    //});   

    function SaveImeiMerge() {

        debugger;
        var code = $("#txtMobileCode").val();
        var imei1 = $("#txtImei1").val().slice(0, -2);      
        var mobleCode = code.slice(0, -2);
        var status = code.slice(-1);
        var packagingQcList = [];
       


        if ($("#txtMobileCode").val() == "") {


            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Mobile Code Required'
            });
            return false;
        }

       else if ($("#txtImei1").val() == "") {        

            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Scan Imei Number'
            });
            return false;


        } else {

            packagingQcList.push({
                MobileCode: mobleCode,
                Passed: status,
                QcStation: "PKGQC",
                Imei1: imei1               
            });

            $.ajax({
                url: ' @Url.Action("InsertPackagingQcStation", "Production")', //Changed For test
                type: 'Post',
                data: JSON.stringify({ statusList: packagingQcList }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (result) {

                    if (result.IsSuccess) {
                        
                        AllClear();
                        $("#btnSave").hide();                        
                        packagingQcList = [];              
                        location.reload();
                       
                        return true;
                      
                    } else if (result.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    }


                    else {
                        iziToast.warning({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Error',
                            message: result.Message,
                            backgroundColor: '#E70F0F',
                            theme: 'dark', // dark
                            zindex: 999,
                            progressBarColor: '#091B2B',
                            titleSize: 15,
                            messageColor: '#FDFEFE',
                            messageSize: 15,
                        });
                        $("#txtMobileCode").val('');
                        $("#txtMobileCode").focus();
                        $("#txtImei1").val('');
                      
                        return false;

                    }

                },
                error: function (result, textStatus, jqXHR) {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: result
                    });

                    //return false;
                }
            });



        }


    }

    $(document).ready(function () {
        $('#txtMobileCode').focus();
        $("#txtMobileCode").val('');
        CountPackagingQc();
        //GetLastthreeEntry();
      

       
    });




    @*$("#btnSave").click(function () {

        debugger;
        var packagingQcList = [];
        var packagingReworkList = [];

        var code = $("#txtMobileCode").val();


        var mobleCode = code.slice(0, -2);

        var status = code.slice(-1);
        //var radioVal = $('input[name=radioCheck]:checked').val();

        //var issues = $("#txtIssues").val();
        // console.log(radioVal);


        if ($("#txtMobileCode").val() == "") {


            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Mobile Code Required'
            });
            return false;
        }


        if ($("#txtMobileCode").val() != "" && $("#txtIssues").val() == "") {

            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Issues Required'
            });
            return false;


        }

        if ($("#txtImei1").val() != "" && $("#txtImei2").val() == "") {

            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'IMEI Numbers Required'
            });
            return false;


        } else {

            packagingQcList.push({
                MobileCode: mobleCode,
                Passed: status,
                QcStation: "PKGQC",
                Imei1: $("#txtImei1").val(),
                Imei2: $("#txtImei2").val()
                //Issues: $("#txtIssues").val()
            });

            packagingReworkList.push({
                MobileCode: mobleCode,
                FailedStation: "PKGQC",
                Issues: $("#txtIssues").val()
            });


            $.ajax({
                url: ' @Url.Action("InsertFunctionalQcStatus", "Production")',
                type: 'Post',
                data: JSON.stringify({ statusList: packagingQcList, reworkList: packagingReworkList }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (result) {

                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Information Saved Successfully'
                        });
                        AllClear();
                        $("#btnSave").hide();
                        $("#divHistory").hide();
                        $("#divNoHistory").hide();


                        return true;
                        //location.reload();
                    } else if (result.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    }


                    else {
                        iziToast.error({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Error',
                            message: 'Error Occured While Saving'
                        });
                    }

                },
                error: function (result, textStatus, jqXHR) {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: result
                    });

                    //return false;
                }
            });



        }

    });*@

    ///if success then save in packaging line
    ///if success then save in packaging line
    ///if success then save in packaging line
    @*$("#btnPckgSave").click(function () {

        var packagingQcList = [];
        var aestheticReworkList = [];

        var code = $("#txtMobileCode").val();
        var imei1 = $("#txtImei1").val();
        var imei2 = $("#txtImei2").val();
        var mobleCode = code.slice(0, -2);

        var status = code.slice(-1);
        //var radioVal = $('input[name=radioCheck]:checked').val();

        //var issues = $("#txtIssues").val();
        // console.log(radioVal);


        if ($("#txtMobileCode").val() == "") {


            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Mobile Code Required'
            });
            return false;
        }



        if ($("#txtImei2").val() == "" || $("#txtImei1").val() == "") {

            iziToast.warning({
                timeout: 1000,
                imageWidth: 150,
                position: 'center',
                title: 'Warning',
                message: 'Imei Numbers Required'
            });
            return false;


        } else {

            packagingQcList.push({
                MobileCode: mobleCode,
                Imei1: imei1,
                Imei2: imei2,
                Passed: status,
                QcStation: "PKGQC"
                //Issues: $("#txtIssues").val()


            });




            $.ajax({
                url: ' @Url.Action("InsertFunctionalQcStatus", "Production")',
                type: 'Post',
                data: JSON.stringify({ statusList: packagingQcList }),
                dataType: 'json',
                async: false,
                contentType: 'application/json',
                success: function (result) {

                    if (result.IsSuccess) {
                        iziToast.success({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Success',
                            message: 'Information Saved Successfully'
                        });
                        AllClear();
                        $("#btnSave").hide();
                        $("#divHistory").hide();
                        $("#divNoHistory").hide();
                        $("#divImei1").hide();
                        $("#divImei2").hide();
                        $("#btnPckgSave").hide();


                        return true;
                        //location.reload();
                    }
                    else if (result.Id == "0") {
                        window.location = '@Url.Action("LogOut", "Account")';

                    }

                    else {
                        iziToast.error({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Error',
                            message: 'Error Occured While Saving'
                        });
                    }

                },
                error: function (result, textStatus, jqXHR) {
                    iziToast.error({
                        timeout: 2000,
                        imageWidth: 150,
                        position: 'center',
                        title: 'Error',
                        message: result
                    });

                    //return false;
                }
            });



        }

    });*@

    function AllClear() {
        $("#txtImei1").val('');
        $("#txtImei2").val('');
        $("#txtIssues").val('');
        $("#txtMobileCode").val('');
        $('.radio-template').prop('checked', false);
        $('#divIssue').hide();

    }

    // Imei Tab js code
    //Imei Tab js code

    $("#btnImeiClearNb").click(function () {
        $("#txtImei1Nb").val('');
        $("#txtImei2Nb").val('');
        $("#txtImeiNb").val('');
        $("#txtImeiNb").focus();
        $("#divImeiIssueNb").hide();
        $('#chkPassed').prop('checked', true);
        $('#chkFailed').prop('checked', false);
    });


    function AllClearImeiPart() {
        $("#txtImei1Nb").val('');
        $("#txtImeiNb").val('');
        $("#txtImei2Nb").val('');
        $("#txtImeiIssuesNb").val('');
        $("#txtMobileCode").val('');
        $('.radio-template').prop('checked', false);
        $('#divImeiIssue').hide();

    }


    $(function() {
        $('a[data-toggle="tab"]').on('click', function(e) {
            window.localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = window.localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTab a[href="' + activeTab + '"]').tab('show');
            window.localStorage.removeItem("activeTab");
        }
    });

    @*$(document).ready(function() {


        //CountPackagingQc();


        $('input.checkbox-template').on('change', function() {

            debugger;
            $('input.checkbox-template').not(this).prop('checked', false);
            var checkedValue = $('input.checkbox-template:checked').val();
            if (checkedValue == 'n') {

                $("#divImeiIssueNb").show();
                $("#txtImeiIssuesNb").focus();
            } else {
                $("#divImeiIssueNb").hide();
                $("#txtImeiIssuesNb").val('');
            }
        });


        $("#txtImei1Nb").keydown(function() {

            var imei1 = $("#txtImei1Nb").val();

            if (imei1.length == 15) {

                $("#txtImei2Nb").focus();

            }


        });


        //nav - home - tab
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            var target = $(e.target).attr("href"); // activated tab
            //alert(target)
            if (target == "#nav-profile")
                $("#txtImeiNb").focus();

        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            var target = $(e.target).attr("href"); // activated tab
            //alert(target)
            if (target == "#nav-home")
                $("#txtMobileCode").focus();
            $("#divHistory").hide();
        });


        $("#txtImeiNb").keydown(function() {

            var imei = $("#txtImeiNb").val();

            if (imei.length == 15) {
                ///call ajx


                $.ajax({
                    url: '@Url.Action("GetDetailsByImei", "Production")',
                    type: 'Post',
                    data: JSON.stringify({ imei: imei }),
                    dataType: 'json',
                    async: false,
                    contentType: 'application/json',
                    success: function(result) {

                        if (result.length == 0) {
                            iziToast.warning({
                                timeout: 2000,
                                imageWidth: 150,
                                position: 'center',
                                title: 'Success',
                                message: 'No date found'
                            });

                            return true;
                            //location.reload();
                        } else {

                            $("#txtImei1Nb").val(result[0].Imei1);
                            $("#txtImei2Nb").val(result[0].Imei2);

                            //GetQcStatusHistoryByImei(imei);


                        }

                    },
                    error: function(result, textStatus, jqXHR) {
                        iziToast.error({
                            timeout: 2000,
                            imageWidth: 150,
                            position: 'center',
                            title: 'Error',
                            message: 'No date found'
                        });

                        //return false;
                    }
                });

            }

        });


    });*@

   


    //Imei Tab js code
    //Imei Tab js code

</script>



